/* CSS Document */

@font-face {
    font-family: 'shlopshlop';
    src: url('Font/shlop-webfont.woff2') format('woff2'),
         url('Font/shlop-webfont.woff') format('woff'),
         url('Font/SHLOP');
    font-weight: normal;
    font-style: normal;
  }


body {
    background-color: white;
    color: black;
}


h1 {
    font-size: 80px;
    font-family: 'shlopshlop', 'arial';
    color: red;
    text-align: center;
}
 
* {
    box-sizing: border-box;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: 'Franklin Gothic Medium', serif;
    color: black;
    font-size: 2em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card:hover .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: darkred;
    font-family: 'Franklin Gothic Medium', serif;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.card-back {
    background-color: black;
    border-color: red;
}

.card-front {
    background-color: cadetblue;
    background-color: darkred;
    transform: rotateY(180deg);
}

.card-value {
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}

.card-front:hover .card-value {
    transform: scale(1);
}

.blood-splatter {
    position: absolute;
    width: 47px;
    height: 47px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-face:hover .blood-splatter {
    width: 52px;
    height: 52px;
}

.blood-splatter-top-left {
    transform: rotate(270deg);
    top: 0;
    left: 0;
}

.blood-splatter-top-right {
    top: 0;
    right: 0;
}

.blood-splatter-bottom-left {
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
}

.blood-splatter-bottom-right {
    transform: rotate(90deg);
    bottom: 0;
    right: 0;
}

.bloody-handprint {
    position: absolute;
    transform: translateY(0px);
    transition: transform 100ms ease-in-out;
}

.card-back:hover .bloody-handprint {
    transform: translateY(0);
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}

footer{
    background-color: Red;
    text-align: center;
    color:white;
    font-size: large;
}

a{
  color: white;
}